@model proyectoscrum.Models.EstudiantesGrupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstudiantesGrupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notafinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notafinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoNavigation.IdGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstudianteGrupo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
