@model proyectoscrum.Models.Bitacora

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<h3>Seguro que quieres eliminar esta bitácora??</h3>
<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afectado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afectado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBitacora" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
