@model proyectoscrum.Models.Bitacora

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afectado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afectado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBitacora">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
